.learningContainer {
  margin-top: 23px;
  background: #ffffff;
  border: 1px solid #F3F3F3;
  border-radius: 20px;
  padding: 24px;
  cursor: pointer;

  .categoryWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &Left {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
    }
  }

  .title {
    font-size: 20px;
    color: #2C2D2E;
    font-weight: 600;
    line-height: 26px;
  }

  .subTitle {
    font-size: 14px;
    color: #87898F;
    line-height: 20px;
  }

  .button {
    background: none;
    border: none;
    cursor: pointer;
  }
}